# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Twitch_Voice_Recognition/bin/Debug/KittenzTwitchLib.dll
Twitch_Voice_Recognition/bin/Debug/Twitch_Voice_Recognition.exe
Twitch_Voice_Recognition/bin/Debug/KittenzTwitchLib.pdb
Twitch_Voice_Recognition/obj/Debug/Twitch_Voice_Recognition.exe
Twitch_Voice_Recognition/bin/Debug/Twitch_Voice_Recognition.vshost.exe
Twitch_Voice_Recognition/bin/Debug/Twitch_Voice_Recognition.pdb
Twitch_Voice_Recognition/bin/Debug/Twitch_Voice_Recognition.exe.config
